#wrapped-login {
  background-color: #171c21;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login {
  width: 350px;
}

h2 {
  color: #6D7781;
  font-family: 'Sofia', cursive;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #435160;
  text-decoration: none;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 350px;
  padding: 20px 0;
  background: transparent !important;
  border: 0;
  /*border-bottom: 1px solid #435160;*/
  border-bottom: 1px solid #ffffff;
  outline: none;
  /*color: #6D7781;*/
  color: #ffffff;
  font-size: 16px;
  
  animation: typewriter 1s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}

/* Animation */
@keyframes typewriter{
  from{width: 0;}
  to{width: 350px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

::-webkit-input-placeholder {
  /*color: #435160;*/
  color: #ffffff;
  font-size: 12px;
}

.social {
  position: relative;
}

.social:after {
  content: 'OR';
  font-size: 17px;
  color: #7a848e;
  position: absolute;
  top: 20px;
  font-family: 'Sofia', cursive;
}

.social span {
  font-size: 24px;
  padding: 9px;
  margin: 0 5px;
}

.social span i {
  color: #a8abae;
  text-shadow: 3px -2px 1px rgba(107, 111, 75, 0.89);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.social span i:hover {
  color: #C8D4DD;
  text-shadow: 10px 10px 10px rgba(223, 218, 218, 0.7);
}

/*.social .facebook {*/
  /*color: #e4e2b8;*/
/*}*/

/*.social .twitter {*/
  /*color: #e4e2b8;*/
/*}*/

/*.social .google-plus {*/
  /*color: #e4e2b8;*/
/*}*/

/*.social .youtube {*/
  /*color: #e4e2b8;*/
/*}*/

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #a8abae;
}

.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #C8D4DD;
}

input[type="submit"] {
  /*background: #3A5059;*/
  background: transparent;
  opacity: 0.5;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  animation-fill-mode: both;
  animation-duration: 1s;
}

input[type="submit"]:hover {
  background: #35566b;
  animation-name: shake;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

