#vp-diag-bg {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
#vp-diag-bg .vp-diag {
  background-color: #ffffff;
  padding: 27px 15px 15px 15px;
  border-radius: 5px;
}
#vp-diag-bg .vp-diag .vp-diag-header {
  position: relative;
}
#vp-diag-bg .vp-diag .vp-diag-header #vp-diag-close {
  position: absolute;
  right: -15px;
  top: -27px;
  display: inline-block;
  padding: 9px;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
#vp-diag-bg .vp-diag .vp-diag-body {
  font-size: 15px;
  color: #6c6a6a;
}
#vp-diag-bg .vp-diag .vp-diag-footer button {
  min-width: 95px;
}
